name: jdc
on:
  schedule:
    - cron: 15 */2 * * *
  watch:
    types: started
jobs:
  build:
    runs-on: Ubuntu-20.04  
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: down
      run: |
        shopt -s extglob
        rm -rf !(README.md)
        shopt -u extglob
        git clone https://github.com/cdle/jd_study.git  ./jd_study        
        cp -rf ./jd_study/xdd/* ./
        rm -rf ./jd_study
        mv ./conf/config.yaml ./conf/config.yaml.sample
        mv ./conf/reply.php ./conf/reply.php.sample
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o JDCamd64
        CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o JDCarm64
    - name: 'Commit Files'
      id: commit
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git diff --quiet && git diff --staged --quiet || git commit -am 'update'
    - name: Push Dust
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.PAT }}
        branch: main
